#container {
    overflow: hidden;
    background-color: #fff;
}

.adsize {
    width: 160px;
    height: 600px;
}

.image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hidden {
    opacity: 0;
}

#visa_logo{
    left: 27px;
    top: 549px;
    width: 98px;
    opacity: 0;
}

.absolute {
    position: absolute;
}
#rightHand{left:160px;}
#leftHand{left:-160px;}
